* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}
.customNavItems {
  list-style: none;
  text-decoration: none;
  display:inline;
}
.customNavItems li {
  list-style: none;
  text-decoration: none;
  display:inline;
}
.customNav {
  background-color: yellow;
  padding-top:90 px;
  padding-bottom: 60px;
}
